<html>
<head>
  <meta charset="UTF-8">
  <!-- <script src="./vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.9/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios@1.1.0/dist/axios.min.js"></script> -->
  <!-- <script src='https://unpkg.com/v-calendar'></script> -->
  
  <link rel="stylesheet" href="./style.css">
  <title>날씨 달력</title>
</head>
<body>
  <div id='app'>
    <div class="tableWrap">
      <div class="selectOptionWrap">
        <input type="number" id="selectedYear" v-model=nowDATE[0]>
        <button class="btnLeft" @click="monthMOVEL"><</button>
        <select id="selectedMonth" v-model=nowDATE[1] @change=YearMonthSelect($event)>
          <option v-for="(whatMonth,i) in monthNum" :key= "whatMonth" :value= monthNum[i]>{{ whatMonth }}월</option>
        </select>
        <button class="btnRight" @click="monthMOVER">></button>
        <!-- <button v-for="(whatMonth,i) in monthNum" :key= "whatMonth" :value= monthNum>{{ whatMonth }}월</button> -->
        <button id="searchButton" @click="YearMonthSelected()">조 회</button>
      </div>
      
      <table class="tableBorder">
        <thead>
          <tr>
            <th v-for="(dayName,i) in dayList" :key="dayName">{{ dayName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-for="(resultCalendarRow_1,i) in resultCalendarRow[0].dayNumber" :key="resultCalendarRow_1" @click="[selectDATE=resultCalendarRow[0].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[0].dayNumber[i]>
              <div>{{ resultCalendarRow_1 }}</div>
              <span>{{ resultCalendarRow[0].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_2,i) in resultCalendarRow[1].dayNumber" :key="resultCalendarRow_2" @click="[selectDATE=resultCalendarRow[1].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[1].dayNumber[i]>
              <div>{{ resultCalendarRow_2 }}</div>
              <span>{{ resultCalendarRow[1].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_3,i) in resultCalendarRow[2].dayNumber" :key="resultCalendarRow_3" @click="[selectDATE=resultCalendarRow[2].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[2].dayNumber[i]>
              <div>{{ resultCalendarRow_3 }}</div>
              <span>{{ resultCalendarRow[2].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_4,i) in resultCalendarRow[3].dayNumber" :key="resultCalendarRow_4" @click="[selectDATE=resultCalendarRow[3].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[3].dayNumber[i]>
              <div>{{ resultCalendarRow_4 }}</div>
              <span>{{ resultCalendarRow[3].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_5,i) in resultCalendarRow[4].dayNumber" :key="resultCalendarRow_5" @click="[selectDATE=resultCalendarRow[4].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[4].dayNumber[i]>
              <div>{{ resultCalendarRow_5 }}</div>
              <span>{{ resultCalendarRow[4].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_6,i) in resultCalendarRow[5].dayNumber" :key="resultCalendarRow_6" @click="[selectDATE=resultCalendarRow[5].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[5].dayNumber[i]>
              <div>{{ resultCalendarRow_6 }}</div>
              <span>{{ resultCalendarRow[5].weather[i] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="weatherDisplayWrap">
        <span>
          <div>날짜</div>
          <div>평균</div>
          <div>최고</div>
          <div>최저</div>
          <div>하늘</div>
        </span>
        <span v-for="(weeklyWeather, i) in selectedWeather[0].tempMin" :key="weeklyWeather">
          <div class="weeklyTemp">{{ selectedWeather[0].sDate[i] }}일</div>
          <div class="weeklyTemp">{{ selectedWeather[0].tempAvg[i] }}°C</div>
          <div class="weeklyTemp">{{ selectedWeather[0].tempMax[i] }}°C</div>
          <div class="weeklyTemp">{{ selectedWeather[0].tempMin[i] }}°C</div>
          <div class="weeklyTemp">{{ selectedWeather[0].weather[i] }}</div>
          <svg class="weatherIcon RAINNY" style="width:50px;height:50px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9,12C9.53,12.14 9.85,12.69 9.71,13.22L8.41,18.05C8.27,18.59 7.72,18.9 7.19,18.76C6.65,18.62 6.34,18.07 6.5,17.54L7.78,12.71C7.92,12.17 8.47,11.86 9,12M13,12C13.53,12.14 13.85,12.69 13.71,13.22L11.64,20.95C11.5,21.5 10.95,21.8 10.41,21.66C9.88,21.5 9.56,20.97 9.7,20.43L11.78,12.71C11.92,12.17 12.47,11.86 13,12M17,12C17.53,12.14 17.85,12.69 17.71,13.22L16.41,18.05C16.27,18.59 15.72,18.9 15.19,18.76C14.65,18.62 14.34,18.07 14.5,17.54L15.78,12.71C15.92,12.17 16.47,11.86 17,12M17,10V9A5,5 0 0,0 12,4C9.5,4 7.45,5.82 7.06,8.19C6.73,8.07 6.37,8 6,8A3,3 0 0,0 3,11C3,12.11 3.6,13.08 4.5,13.6V13.59C5,13.87 5.14,14.5 4.87,14.96C4.59,15.43 4,15.6 3.5,15.32V15.33C2,14.47 1,12.85 1,11A5,5 0 0,1 6,6C7,3.65 9.3,2 12,2C15.43,2 18.24,4.66 18.5,8.03L19,8A4,4 0 0,1 23,12C23,13.5 22.2,14.77 21,15.46V15.46C20.5,15.73 19.91,15.57 19.63,15.09C19.36,14.61 19.5,14 20,13.72V13.73C20.6,13.39 21,12.74 21,12A2,2 0 0,0 19,10H17Z" />
          </svg>
          <svg class="weatherIcon Cloudy" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M6,19A5,5 0 0,1 1,14A5,5 0 0,1 6,9C7,6.65 9.3,5 12,5C15.43,5 18.24,7.66 18.5,11.03L19,11A4,4 0 0,1 23,15A4,4 0 0,1 19,19H6M19,13H17V12A5,5 0 0,0 12,7C9.5,7 7.45,8.82 7.06,11.19C6.73,11.07 6.37,11 6,11A3,3 0 0,0 3,14A3,3 0 0,0 6,17H19A2,2 0 0,0 21,15A2,2 0 0,0 19,13Z" />
          </svg>
        </span>
      </div>
      
    </div>
  </div>
  <script src="./app.js"></script>
</body>
</html>