<html>
<head>
  <meta charset="UTF-8">
  <!-- <script src="./vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.9/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <!-- <script src="https://unpkg.com/axios@1.1.0/dist/axios.min.js"></script> -->
  <!-- <script src='https://unpkg.com/v-calendar'></script> -->
  
  <link rel="stylesheet" href="./style.css">
  <title>날씨 달력</title>
</head>
<body>
  <div id='app'>
    <div class="tableWrap">
      <div class="selectOptionWrap">
        <input type="number" id="selectedYear" v-model=nowDATE[0]>
        <button class="btnLeft" @click="monthMOVEL"><</button>
        <select id="selectedMonth" v-model=nowDATE[1] @change=YearMonthSelect($event)>
          <option v-for="(whatMonth,i) in monthNum" :key= "whatMonth" :value= monthNum[i]>{{ whatMonth }}월</option>
        </select>
        <button class="btnRight" @click="monthMOVER">></button>
        <!-- <button v-for="(whatMonth,i) in monthNum" :key= "whatMonth" :value= monthNum>{{ whatMonth }}월</button> -->
        <button id="searchButton" @click="YearMonthSelected()">조 회</button>
      </div>
      
      <table class="tableBorder">
        <thead>
          <tr>
            <th v-for="(dayName,i) in dayList" :key="dayName">{{ dayName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-for="(resultCalendarRow_1,i) in resultCalendarRow[0].dayNumber" :key="resultCalendarRow_1" @click="[selectDATE=resultCalendarRow[0].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[0].dayNumber[i]>
              <div>{{ resultCalendarRow_1 }}</div>
              <span>{{ resultCalendarRow[0].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_2,i) in resultCalendarRow[1].dayNumber" :key="resultCalendarRow_2" @click="[selectDATE=resultCalendarRow[1].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[1].dayNumber[i]>
              <div>{{ resultCalendarRow_2 }}</div>
              <span>{{ resultCalendarRow[1].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_3,i) in resultCalendarRow[2].dayNumber" :key="resultCalendarRow_3" @click="[selectDATE=resultCalendarRow[2].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[2].dayNumber[i]>
              <div>{{ resultCalendarRow_3 }}</div>
              <span>{{ resultCalendarRow[2].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_4,i) in resultCalendarRow[3].dayNumber" :key="resultCalendarRow_4" @click="[selectDATE=resultCalendarRow[3].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[3].dayNumber[i]>
              <div>{{ resultCalendarRow_4 }}</div>
              <span>{{ resultCalendarRow[3].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_5,i) in resultCalendarRow[4].dayNumber" :key="resultCalendarRow_5" @click="[selectDATE=resultCalendarRow[4].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[4].dayNumber[i]>
              <div>{{ resultCalendarRow_5 }}</div>
              <span>{{ resultCalendarRow[4].weather[i] }}</span>
            </td>
          </tr>
          <tr>
            <td v-for="(resultCalendarRow_6,i) in resultCalendarRow[5].dayNumber" :key="resultCalendarRow_6" @click="[selectDATE=resultCalendarRow[5].dayNumber[i], selectDayNum()]" :value=resultCalendarRow[5].dayNumber[i]>
              <div>{{ resultCalendarRow_6 }}</div>
              <span>{{ resultCalendarRow[5].weather[i] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="weatherDisplayWrap">
        <span v-for="(weeklyWeather, i) in selectedWeather[0].weather" :key="weeklyWeather">
          <div class="weeklyTemp">{{ selectedWeather[0].sDate[i] }}일</div>
          <div class="weeklyTemp">{{ selectedWeather[0].weather[i] }}°C</div>
        </span>
      </div>
      
    </div>
  </div>
  <script src="./app.js"></script>
</body>
</html>