.tableWrap {
  position: relative;
  width: 80%;
  height: 30%;
}

.selectOptionWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectMonthWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectMonth {
  font-size: 3rem;
}

.tableBorder {
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;
}

tr {
  position: relative;
  width: 80%;
}