#app {
  font-family: 'Noto Sans KR', sans-serif;
}

.tableWrap {
  position: relative;
  width: 80%;
  height: 40%;
  margin: 0 auto;
}

.selectOptionWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectMonthWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  /* background-color: wheat; */
}

.selectMonth {
  font-size: 4rem;
  font-weight: 900;
}

.tableBorder {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center
}

tr {
  position: relative;
  width: 80%;
}

td {
  border: rgb(239, 239, 239) solid 2px;
  border-radius: 10px;
  /* height:100%; */
  /* margin: 0; */
}